*{
    
    background-color: bisque;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#pop{
    background-image: url(./images/13.jpg);
    font-style: oblique;
    align-items: center;
    text-align: center;
}
 #pop > header{ 
     font-weight: 900;
     font-size: larger;

}
#pop > h1{
    font-weight: 700;
    font-size: larger;
}

#pop > .links > ul > li{
float: right;
display: inline-flex;
padding-right: 30px;
}

#top{
display: flex;
flex-direction: row;
padding-top: 100px;
margin-top: 100px;
padding-left: 100px;
padding-right: 100px;
}
.items{
margin-right: 100px;

}
.chefs{
margin-right: 100px;
}

